<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <ul>
      <% posts.forEach(post => { %>
      <li>Title: <%= post.title %></li>
      <li>User: <%= user %></li>
      <!-- TODO: if authenticated -->
      <% if (user) { %>
      <li>Date: <%= post.date %></li>
      <% } else { %>
      <li>Date: ****</li>
      <% } %>
      <li>Post: <%= post.post %></li>
      <% }); %>
    </ul>
  </body>
</html>
